
doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

  style.
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      line-height: 1.4em;
      margin: 0;
      padding: 0;
      -ms-text-size-adjust: 100%;
      -webkit-
    }

    table.body-wrap {
      width: 100%;
      padding: 20px;
    }

    table.body-wrap .container {
      border: 1px solid #f0f0f0;
    }

    table.footer-wrap {
      width: 100%;
      clear: both!important;
    }


    .header {
      font-size: 22px;
      color: #444444;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: start;
    }

    p {
      font-size: 18px;
    }


  body
    p.header Hello #{firstName} #{lastName},
    p This e-mail has been sent to inform you that the password change on your account was successful.
    p Please use your new password to access your account again. If you find it difficult to remember your password, please use the "Forgot Password" option to create a new password.
    p If your account has not been changed to a different password, you may be relieved to know that your account is safe.
    p If you have not done this, please contact us.
    p Kind regards,
    p Byte Bazaar Team








