doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Security-Policy" content="script-src 'self'")

    title Document

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito")

    include _style
    style.
      body {
        font-family:'Nunito', sans-serif;
      }
  body 
    main 
      div.main-container
        h1 Change Your Password
        div 
          label New Password
          input(type="password", id="newPassword", placeholder="Enter your new password")
          label New Password Confirm
          input(type="password", id="newPasswordConfirm", placeholder="Enter your new password")
        button(type="submit").btn Submit

    script(src='/passwordReset.ts')
